@import 'sass/_all'
    
body, html
    font-family: sans-serif
    padding: 0
    margin: 0
    overflow: hidden
    background-color: rgba(var(--bg1),0.8)

h3
    margin-top: 2em

code
    padding: 1em
    background-color: var(--bg2)

button
    cursor: pointer
    background-color: transparent
    border-style: solid
    border-width: 1px
    border-color: var(--text)
    padding: 1em
    border-radius: 5em
    color: var(--text)

    &:hover
        background-color: var(--text)
        color: var(--text-invert)
    

input
    border: none
    padding: 1em
    font-size: 1em

input,button
    &:focus
        outline: 0

    
#main
    overflow: auto
    height: calc(100vh - 50px)
    margin-top: 50px
    width: calc(100% - 10em - 70px)
    box-sizing: border-box
    color: var(--text)
    padding: 2em
    padding-top: 0
    margin-left: 10em

    &:before
        content: ''
        width: 100vw
        height: 100vh
        background-color: var(--bg1)
        position: fixed
        z-index: -1
        left: 0
        top: 0
        opacity: 0.95

br ~ br
    line-height: 2em

