$white: rgb(240,240,240)
$darkgray: rgb(35,35,40)
$gray: rgb(50,50,55)
$red: rgb(255,80,130)

body, html
    font-family: sans-serif
    background-color: $gray
    color: $white
    padding: 0
    margin: 0
    overflow: hidden

h3
    margin-top: 2em

code
    padding: 1em
    background-color: $darkgray

button
    cursor: pointer

#title-bar-pad
    height: 30px
    position: fixed
    width: 100vw
    background-color: $darkgray
    top: 0
    left: 0

#title-bar
    height: 26px
    position: fixed
    box-sizing: border-box
    display: flex
    align-items: center
    margin: 0
    padding: 0
    padding-left: calc(0.5em - 4px)
    padding-bottom: 4px
    width: calc(100vw - 124px)
    top: 4px
    left: 4px
    background-color: $darkgray
    -webkit-user-select: none
    -webkit-app-region: drag

    p
        margin-right: auto

    #tb-min, #tb-max, #tb-exit
        height: 30px
        margin: 0
        border: none
        background-color: $darkgray
        width: 40px
        position: fixed
        top: 0
        right: 0
        display: flex
        align-items: center
        justify-content: center
        padding: 0
        cursor: default

        &:hover
            background-color: rgb(70,70,70)

        span
            pointer-events: none

    #tb-min
        right: 80px

        span
            border-bottom: 1px solid $white
            width: 15px

    #tb-max
        right: 40px

        span
            width: 11px
            height: 11px
            border: 1px solid $white

    #tb-exit
        &:hover
            background-color: $red

    #bounds
        position: fixed
        left: 0
        bottom: 0
        background-color: rgba($darkgray,0.4)
        padding-bottom: 0.5em

        p
            margin: 0.5em
            margin-bottom: 0
            font-family: monospace

#tb-exit, .close

    span
        height: 20px
        transform: rotate(45deg)
        border-left: 1px solid $white
        image-rendering: pixelated

    span:nth-child(2)
        transform: rotate(-45deg)

    &:before, &:after
        position: absolute
        content: ' '
        height: 15px
        width: 1px
        background-color: white

    &:before
        transform: rotate(45deg)
    &:after
        transform: rotate(-45deg)

button
    background-color: transparent
    border: 1px solid $white
    padding: 1em
    color: $white

    &:hover
        background-color: $white
        color: $darkgray

input
    border: none
    padding: 1em
    font-size: 1em

input,button
    &:focus
        outline: 0

#main
    overflow: auto
    height: calc(100vh - 30px)
    width: 100%
    box-sizing: border-box
    padding: 2em
    margin-top: 30px

.form
    width: 100%
    height: calc(100vh - 30px)
    background-color: rgba($darkgray, 0.5)
    position: fixed
    top: 30px
    left: 0
    bottom: 0
    overflow: hidden

    &, .inner
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column

    .inner
        width: 100%
        height: 100%
        max-width: 40em
        max-height: 30em
        background-color: $darkgray
        position: relative

    .close
        background-color: rgba(white,0.05)
        width: 40px
        height: 40px
        position: absolute
        top: 0
        right: 0
        display: flex
        align-items: center
        justify-content: center
        padding: 0
        cursor: pointer

        &:hover
            background-color: $red

#threejs
    width: 20em
    height: 20em
    background-color: $darkgray

    canvas
        cursor: pointer

::-webkit-scrollbar 
    width: 10px
    height: 10px
    background-color: transparent
    
::-webkit-scrollbar-thumb
    background: rgba($white, 0.2)

    &:hover
        background: rgba($white, 1)

br ~ br
    line-height: 2em

#networking
    video, .video_off, iframe
        width: 20em
        height: 20em
        background-color: $darkgray
        display: flex
        justify-content: center
        align-items: center
        border: none
        margin-bottom: 10px

    button
        margin-bottom: 10px

textarea
    width: 20em
    height: 20em