.form {
  width: calc(100vw - 70px);
  height: calc(100vh - 50px);
  background-color: rgba(35, 35, 40, 0.5);
  position: fixed;
  top: 50px;
  left: 0;
  bottom: 0;
  overflow: hidden;
}
.form, .form .inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.form .inner {
  width: 100%;
  height: 100%;
  max-width: 40em;
  max-height: 30em;
  background-color: #232328;
  position: relative;
}
.form .close {
  background-color: rgba(255, 255, 255, 0.05);
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
}
.form .close:hover {
  background-color: #ff5082;
}

#networking iframe {
  width: 20em;
  height: 20em;
  border: none;
  margin-bottom: 10px;
}
#networking button {
  margin-bottom: 10px;
}
#networking iframe {
  display: inline-block;
}

textarea {
  width: 20em;
  height: 20em;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(240, 240, 240, 0.2);
}
::-webkit-scrollbar-thumb:hover {
  background: #f0f0f0;
}

#threejs {
  width: 20em;
  height: 20em;
  background-color: #232328;
}
#threejs canvas {
  cursor: pointer;
}

#title-bar-pad {
  height: 50px;
  position: fixed;
  width: calc(100vw - 15em - 70px);
  background-color: transparent;
  top: 0;
  left: 15em;
}

#title-bar {
  height: 46px;
  position: fixed;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  padding-left: calc(0.5em - 4px);
  padding-bottom: 4px;
  width: calc(100vw - 124px);
  top: 4px;
  left: 54px;
  background-color: transparent;
  -webkit-user-select: none;
  -webkit-app-region: drag;
  z-index: 1;
}
#title-bar p {
  margin-left: 50px;
}
#title-bar #hamburger {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  position: fixed;
  left: 0;
  top: 0;
  padding-left: 3px;
}
#title-bar #hamburger span {
  display: inline-block;
  height: 4px;
  width: 36px;
  background-color: #f0f0f0;
  margin: 4px 0;
  pointer-events: none;
}
#title-bar #tb-min, #title-bar #tb-max, #title-bar #tb-exit {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin: 0;
  border: none;
  background-color: #232328;
  position: fixed;
  top: 10px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  right: 10px;
}
#title-bar #tb-min:hover, #title-bar #tb-max:hover, #title-bar #tb-exit:hover {
  background-color: #414150;
}
#title-bar #tb-min span, #title-bar #tb-max span, #title-bar #tb-exit span {
  pointer-events: none;
}
#title-bar #tb-min {
  top: 120px;
}
#title-bar #tb-min span {
  border-bottom: 1px solid #f0f0f0;
  width: 15px;
}
#title-bar #tb-max {
  top: 65px;
}
#title-bar #tb-max span {
  width: 11px;
  height: 11px;
  border: 1px solid #f0f0f0;
}
#title-bar #tb-exit:hover {
  background-color: #ff5082;
}

#tb-exit span, .close span {
  height: 20px;
  transform: rotate(45deg);
  border-left: 1px solid #f0f0f0;
  image-rendering: pixelated;
}
#tb-exit span:nth-child(2), .close span:nth-child(2) {
  transform: rotate(-45deg);
}
#tb-exit:before, #tb-exit:after, .close:before, .close:after {
  position: absolute;
  content: " ";
  height: 15px;
  width: 1px;
  background-color: white;
}
#tb-exit:before, .close:before {
  transform: rotate(45deg);
}
#tb-exit:after, .close:after {
  transform: rotate(-45deg);
}

#sidebar {
  width: 10em;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
#sidebar div {
  padding: 0.5em 1em;
  color: #ff5082;
  border-right: 3px solid #ff5082;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
#sidebar div.active {
  color: #f0f0f0;
  border-color: #f0f0f0;
}
#sidebar div a {
  text-decoration: none;
  font-size: 1em;
  cursor: pointer;
  letter-spacing: 0.2px;
  font-weight: bold;
}

#usermedia video, #usermedia .video_off {
  width: 30em;
  background-color: #232328;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin-bottom: 10px;
}
#usermedia .video_off {
  height: 25em;
}
#usermedia button {
  margin-bottom: 10px;
}

#graph .core {
  display: inline-block;
  margin-right: 4px;
}

body, html {
  font-family: sans-serif;
  color: #f0f0f0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: rgba(50, 50, 55, 0.8);
}

h3 {
  margin-top: 2em;
}

code {
  padding: 1em;
  background-color: #232328;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #f0f0f0;
  padding: 1em;
  color: #f0f0f0;
  border-radius: 5em;
}
button:hover {
  background-color: #f0f0f0;
  color: #232328;
}

input {
  border: none;
  padding: 1em;
  font-size: 1em;
}

input:focus, button:focus {
  outline: 0;
}

#main {
  overflow: auto;
  height: calc(100vh - 50px);
  margin-top: 50px;
  width: calc(100% - 10em - 70px);
  background-color: transparent;
  box-sizing: border-box;
  padding: 2em;
  padding-top: 0;
  margin-left: 10em;
}

br ~ br {
  line-height: 2em;
}

/*# sourceMappingURL=main.css.map */
